package components

templ Balance(currentBalance string) {
	<div class="mb-10">
	  <p class="text-gray-300">Balance</p>
	  <p class="text-4xl font-medium my-2"><span class="sats">{currentBalance}</span> SATS</p>
		<p class="text-gray-200 usd" sats={currentBalance}>$ ...</p>
	</div>
}