package components

templ Header(title string, backPath ...string) {
	<div class="grid grid-cols-[1fr_6fr_1fr] items-center w-full mb-8">
	  if len(backPath) > 0 {
	    <a href={templ.URL(backPath[0])}>@BackButton()</a>
		} else {
	    <a href="/">@BackButton()</a>
		}
		<h1 class="text-2xl text-center font-semibold">{title}</h1>
	</div>
}