name: ci_integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.3"
      - uses: actions/checkout@v4
      
      - run: go get -v -t -d ./...
      
      - name: Run Nigiri
        uses: vulpemventures/nigiri-github-action@v1
        with:
          use_liquid: false
          use_ln: true

      - name: Build test environment
        run: make build-test-env

      - name: Run integration tests
        run: make integrationtest